<div class="container">
			<div class="row">
				<div class="col s12">
					<h4 class="center-align">What Skills do you Want to Build?</h4>
					<hr>
					<div class="row">
						<div class="col s4">
							<div id="addGolfSkillBtn" class="card hoverable card-btn">
								<div class="card-image">
									<img src="/assets/img/golf.jpeg">
									<span class="card-title">Golf</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div id="addGuitarSkillBtn" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/guitar.jpeg">
									<span class="card-title">Guitar</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div id="addSpanishSkillBtn" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/language.jpg">
									<span class="card-title">Spanish</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div id="addSpanishSkillBtn" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/chess.jpeg">
									<span class="card-title">Chess</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div id="addSpanishSkillBtn" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/photography.jpg">
									<span class="card-title">Photography</span>
								</div>
							</div>
						</div>
						<div class="col s4">
							<div id="addSpanishSkillBtn" class="card hoverable  card-btn">
								<div class="card-image">
									<img src="/assets/img/tennis.jpeg">
									<span class="card-title">Tennis</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>