<!DOCTYPE html>
<html>

<head>
    <title>Marketing Tracker</title>
    {{!--google sign in--}}
    <meta name="google-signin-client_id" content="910838171447-5fs1o912iiss7trmok8b7nqr5fa8qnvs.apps.googleusercontent.com">
    <meta name="google-signin-cookiepolicy" content="single_host_origin">
    <meta name="google-signin-scope" content="profile email">


    <!--google fonts-->
    <link href="/assets/fonts/roboto/" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Materialize, chart, main CSS-->

    <link rel="stylesheet" href="/assets/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/graph.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/front-page.css">
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <!--Materialize Javascript-->
    <script src="/assets/js/materialize.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
    <!--Chart js-->
    <script type="text/javascript" src="/assets/js/Chart.js"></script>

</head>

<body class="primaryC">


    {{{body}}}

    
    <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript" src="/assets/js/auth.js"></script>

    <script type="text/javascript" src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/graph.js"></script>


</body>

</html>