<!DOCTYPE html>
<html>

<head>
  <title>Marketing Tracker</title>
  <meta name="google-signin-client_id" content="910838171447-5fs1o912iiss7trmok8b7nqr5fa8qnvs.apps.googleusercontent.com">
  <meta name="google-signin-cookiepolicy" content="single_host_origin">
  <meta name="google-signin-scope" content="profile email">
  <script src="https://use.fontawesome.com/7fa3cf30ae.js"></script>

  <!--google fonts-->
  <link href="/assets/fonts/roboto/" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Materialize, chart, main CSS-->

  <link rel="stylesheet" href="/assets/css/materialize.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/graph.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <!--JQuery-->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <!--Materialize Javascript-->
  <script src="/assets/js/materialize.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.6.10/firebase.js"></script>
  <!--Chart js-->
  <script type="text/javascript" src="/assets/js/Chart.js"></script>
</head>

<body class="primaryC">
  <header>
    <nav class="dark-shade">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Grow With Friends</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#"><i class="material-icons">person_pin</i></a></li>
          <li><a href="#"><i class="material-icons">forum</i></a></li>
          <li><a class="dropdown-button" data-activates="userMenuDropdown" href="#"><i class="material-icons">settings</i></a></li>
        </ul>
        <!-- Dropdown Structure -->
        <ul id='userMenuDropdown' class='dropdown-content'>
          <li><a href="#!" id="userSignOut">Sign Out</a></li>
          <li class="divider"></li>
          <li><a href="#!"  id="updateProfileModal">Profile Photo</a></li>
        </ul>
      </div>
    </nav>
  </header>

  {{{body}}}


  <script type="text/javascript" src="/assets/js/auth.js"></script>
  <script type="text/javascript" src="/assets/js/app.js"></script>
  <script type="text/javascript" src="/assets/js/userMatch.js"></script>
  <script type="text/javascript" src="/assets/js/graph.js"></script>


</body>

</html>