<div class="background-img"></div>
<main>
    <div id="logo" class="container center">
        <img class="responsive-img" src="/assets/img/logo.png">
    </div>

    <div id="front-page-form" class="container">
        <div class="row">
            <h4 class="center-align logInDiv"> Log-in </h4>

            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>

                <div class="center">
                    <a type="submit" id="logInBtn" class="waves-effect waves-light btnTheme">Sign In</a>
                    <button id="googleSignIn" class="googleAuthBtn">Sign in with Google</button>
                </div>
            </form>
        </div>
        <div class="row">
            <hr>
            <h5 class="center-align accountDiv"> Create Account </h5>
            <div class="col s12 center">
                <a href="/create-user" class="waves-effect waves-light btnTheme">Sign-up!</a>
            </div>
        </div>
    </div>
</main>
<div id="failLogInModal" class="modal">
    <div class="modal-content">
        <h4>Uh Oh!</h4>
        <p>The email or the password didn't exist!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btnTheme">Close</a>
    </div>
</div>