<div class="background-img"></div>
<main>
    <div class="container sing-up-container">
        <!-- Create new User form -->
        <div class="row">
            <form class="col s12 sign-up-wrapper">
                <h1>Create Account</h1>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <a type="submit" id="newUserSubmit" class="waves-effect waves-light btn">Submit</a>
            </form>
        </div>
    </div>
</main>
<!-- Modal Structure -->
<div id="usernameModal" class="modal">
    <div class="modal-content">
        <h4>Oops!</h4>
        <p>The username you chose is already taken. Try a new one!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>