<div class="background-img"></div>
<main>
    <div id="unauthorized-wrapper" class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="text-center">Oops! You are not authorized to be here.</h1>
                <h2 class="text-center">Please Log in or Sign up!</h2>
                <div class="row">
                    <div class="col s6">
                        <a class="waves-effect waves-light btnTheme" id="unauthLoginRedirect">Log In</a>
                    </div>
                    <div class="col s6">
                        <a class="waves-effect waves-light btnTheme" id="unauthSignUpRedirect">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>