<div class="container">
	<div class="row">
		<div class="col s4">
			<div class="user-wrapper">
				<img src="/{{info.image}}" class="responsive-img circle userImg">
				<h2 class="center-align"> {{info.basicInfo.first_name}}</h2>
				<a class="btn waves-effect waves-light matchBtn">Get Matched</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col s4">
			<h3 class="submitScoreTitle"> Submit Your Scores!</h3>
			<a id="golfScoreBtn" href="#golfModal" class="btn waves-effect waves-light matchBtn">Golf</a>
		</div>
	</div>
</div>
{{!--Modal!--}}
  <div id="golfModal" class="modal bottom-sheet">
    <div class="modal-content">
		<h4>Modal Header</h4>
		<form >
				<input id="userName" type="hidden" value="{{info.basicInfo.user_name}}">
				<p class="range-field">
				<span><i class="material-icons">thumb_up</i></span>
				<input type="range" id="golfScore" min="-80" max="80" />
				<span><i class="material-icons">thumb_down</i></span>
				</p>
		</form>
    </div>
    <div class="modal-footer">
	<a type="submit" id="submitGolfScore" class="modal-action modal-close waves-effect waves-green btn-flat">Enter</a>
    </div>
  </div>