<div class="container">
	<div class="row">
		<div class="col s4">
			<div class="user-wrapper">
				<img src="../../{{info.image}}" class="responsive-img circle userImg">
				<h2 class="center-align"> {{info.basicInfo.first_name}}</h2>
				<a class="btn waves-effect waves-light matchBtn">Get Matched</a>
			</div>
		</div>
	</div>
</div>
	


