body{

    background-color:#f5f5f5;
    background-image: url("../img/gradient1.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.user-wrapper {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 6px;
    margin: 80px auto 30px auto;
    display: block;
    padding: 15px;
    background-color: #FAFAFA;

}

.user-activity-wrapper {
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 6px;
    margin: 35px auto 30px auto;
    display: block;
    padding: 15px;
    background-color: #FAFAFA;
    overflow-y: scroll;
    max-height: 400px;
}

.user-activity-wrapper h2 {
    font-weight: 700;
    font-size: 24px;
}
img.userImg{
    background-color:#FAFAFA;
    border: 3px solid #9E9E9E;
    display: block;
    width:200px;
    height: 200px;
    margin: -75px auto 20px auto;
}

img.nav-icon-img{
    line-height: 64px;
    height: 65px;
    width: 50px;
}

h2{
    font-size: 18px;
}
h2.userTitle {
    font-weight: 700;
    font-size: 24px;
}
.submitScoreTitle{
    font-size:23px;
    text-align:center;
}
.matchBtn{
    display: block;
}

.range-field{
    display:flex;
}

input[type=range]{
    width:85%;
    margin: 5px auto;
}

.chart-wrapper {
    margin: 80px auto 30px auto;
    position:relative;
    width:100%;
    border-radius: 6px;
}

.fixed-action-btn {
    position:absolute!important;
    bottom:-60px;
}

.chartButtons {
  position:absolute!important;
  top: -20px;
  right: -20px;
}



.chartButtonsDay {
  position:absolute!important;
  top: -65px;
  right: 90px;
}

/*.chartButtonsDay {
  position:absolute!important;
  bottom: 65px;
  left: 130px;
}*/


/*.fixed-action-btn li img {
    padding: 34px;
    bottom: 25px;
}*/
.toolbar a:hover {
    background-color:red;
}
.progress{
    margin:0rem 0 1rem 0;
}
.card-content {
    padding:5px 20px!important;
    border-radius
}

.yelp-logo {
    max-width: 50%;
    margin: 5px auto;

    display: block;
}
.card-content p.distance {
    font-weight:600;
}
h2.header {
    margin:5px 0!important;
}
h2.header a{
    color: #bd1f1f;
}
@media only screen and (min-width: 601px) {
    .container {
        width:90%;
    }
}


canvas {
  padding: 10px 15px 10px 15px;
  background-color:#FAFAFA;
  max-height: 380px;
  border-radius: 6px;
}

.golfChartDiv canvas {
  padding-top: 25px;
}

.collapsible-header, .collapsible-body, ul, li {
  border-radius: 6px!important;

}


#map {
    height: 300px;
    width:100%;
}

.card-btn {
    cursor: pointer;
}
.card-title {
    text-align: center;
    right:0;
    font-weight: 600!important;
    background-color: rgba(0, 0, 0, 0.37)!important;
    padding:10px!important;
}
.collapsible-body{
    background-color: #fafafa!important;
    border-bottom: none!important;
    margin: 0 auto!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}
.collapsible-body a{
    position:relative;
    display:block;
    margin:0 auto;
    width:100%;
}
.tight-top-spacing{
    margin-bottom: 0;
}

.golfTotalScore, .guitarTotalScore, .langTotalScore {
  float: right;
  font-weight: bold;
  font-size: 1.2em;
  color: #E87F00!important;
  /*color: #4A008D!important;*/
  font-family: "Herculanum";
}

.fontCollapsible {
  font-weight: bold;
  font-size: 1.2em;
  color: #E87F00!important;
  /*color: #4A008D!important;*/
  font-family: "Herculanum";
}

.fontGrowth {
  color: black;
  float: right;
  font-family: "Herculanum";
  font-weight: bold;
  font-size: 1.1em;
}

.primaryC {
    /*background-color:#083c5d;*/
}
.dark-shade {
    background-color:#083c5d;
}

.secondary-blue {
    background-color:#328cc1;
}

.secondary-teal {
    background-color:#d98310;

}

.wrappers {
    background-color: #f6f6f6;
}
.messagingArea {
    width:100%;
    height:200px;
}

.modal {
    max-height: 80%;
    width:65%;
}

.side-nav p {
    line-height: normal;
}
.side-nav h5{
    font-size:24px;
    font-weight: 600;
    text-align: center;
}
.side-nav{
    background-color:#062b44!important;
}
.side-nav a.btn {
    margin: 10px auto!important;
}
.side-nav .collapsible-header {
     padding: 30px 16px!important;
}
.side-nav .collapsible-body{
    color: rgb(250, 250, 250)!important;
    border-radius: 0px!important;
    background-color:#041e2f!important;
}
.side-nav li > a > i, .side-nav li > a > [class^="mdi-"], .side-nav li > a > [class*="mdi-"], .side-nav li > a > i.material-icons {
    color:#FAFAFA!important;
}
.side-nav a{
    color:#FAFAFA!important;
}
.menuBtn{
    display: block;
    width: 50%;
    margin: 5px auto;
}
