body{
    background-color:#e8eaf6;
}

.user-wrapper {
    border-radius: 6px;
    margin: 80px auto 30px auto;
    display: block;
    padding: 15px;
    background-color: #FAFAFA;
}

img.userImg{
    display: block;
    max-width: 71%;
    margin: -75px auto 20px auto;
}

h2{
    font-size: 18px;
}
.submitScoreTitle{
    font-size:23px;
    text-align:center;
}
.matchBtn{
    display: block;
}

.range-field{
    display:flex;
}

input[type=range]{
    width:85%;
    margin: 5px auto;
}
